.App {
  padding: 2rem;
}

.App.login {
  display: flex;
  flex-direction: column;
  max-width: 30%;
}

.App .service {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.App .service > p {
  flex: 1;
}

.App .service:hover {
  background-color: #ccc;
}

.App .service.header > p  {
  text-transform: uppercase;
  font-weight: bold;
}

.App .button {
  padding: .5rem;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  width: 5rem;
  height: 100%;
  background-color: #ccc;
}

.App .button.disabled {
  cursor: initial;
  background-color: #aaa;
}

.App .button.reboot {
  background-color: red;
  color: white;
}
.App .service > p > .button.reboot {
  height: 100%;
}

.App .service > p.count.good {
  color: green;
}

.App .service > p.count.warning {
  color: orange;
}

.App .service > p.count.alert {
  color: orangered;
}
